/* Botones*/
@mixin boton($color) {
    background-color:$color;
    padding: .5rem 1rem;
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: $blanco;
    text-decoration: none;
}


@mixin box-sizing($box-model){
    box-sizing: $box-model;
}

@mixin background-imagen($imagen) {
    background-image: url($imagen);  
    background-repeat: no-repeat;
    background-position: center center;
   
}

/* MEdia Queries */
@mixin telefono () {
    @media only screen and (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet () {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop () {
    @media only screen and (min-width: #{$desktop}) {
        @content;
    }
}